<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
<head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>

</head>
<body >

<h1 style="color:red">chapter 3 : About</h1>
<h3 style="color:green">
<p>hellooooo! *</p>
<p>i am alireza...</p>
<p>i enjoy writing ruby</p>
<p>your phone number : 0938 ... ....</p>
<p>do u ever write ruby?!</p>

<p>lets go to learning... </p>

</h3>


<hr><hr>


<p style="color:green">go to <%= link_to "home", "home", :target => "_home" %> page.</p>
<p style="color:green">go to <%= link_to "help", "help", :target => "_help" %> page.</p>
<p style="color:green">go to <%= link_to "contact", "contact", :target => "_contact" %> page.</p>

<hr><hr>



</body>
</head>

