<% provide(:title, "contact") %>



<!DOCTYPE html>
<html>
  <head>
     <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>


<h1 style="color:red">chapter 5: Contact</h1>
<h3 style="color:green">
<p>
 hi</p><p>
i love everyone...

u can call me : 0938 ... ....
</p>
</h3>

<hr><hr>



</body>
</html>
