<% provide(:title, "contact") %>



<!DOCTYPE html>
<html>
  <head>
     <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>


<h1 style="color:red">chapter 3: Contact</h1>
<h3 style="color:green">
<p>
 hi</p><p>
i love everyone...

u can call with me : 0938 ... ....
</p>
</h3>

<hr><hr>

<p style="color:green">go to <%= link_to "home", "home", :target => "_home" %> page.</p>
<p style="color:green">go to <%= link_to "about", "about", :target => "_about" %> page.</p>
<p style="color:green">go to <%= link_to "help", "help", :target => "_help" %> page.</p>


<hr><hr>

</body>
</html>
