<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
 <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1 style="color:red">chapter 3 : home</h1>
<h3 style="color:green">
<p>
This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>  
</h3>

<hr><hr>
<%= link_to "help", "help", :target => "_help" %>

<p style="color:green">go to <a href="/about"><em> about</em></a> page.</p>
<p style="color:green">go to <a href="//static_pages/contact"><em> contact</em></a> page.</p>
<p style="color:green">go to <a href="http://static_pages/help"><em> help</em></a> page.</p>

<hr><hr>
</body>
</html>
